# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [584]:
import pandas as pd
import numpy as np

In [585]:
former_names = pd.read_csv('former_names.csv')
goal_scorers = pd.read_csv('goalscorers.csv')
results = pd.read_csv('results.csv')
shootouts = pd.read_csv('shootouts.csv')
continents = pd.read_csv('continents2.csv')

I want to add continents into the results dataframe, and I also want to update all country names to have their current names

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [586]:
continents = continents.drop(columns=["alpha-2", "alpha-3", "country-code", "iso_3166-2", "intermediate-region", "region-code", "sub-region-code", "intermediate-region-code"])
continents.head()
continents.value_counts('region')

region
Africa      60
Americas    57
Asia        51
Europe      51
Oceania     29
Name: count, dtype: int64

In [587]:
continents.head()
continents.value_counts('sub-region')

sub-region
Sub-Saharan Africa                 53
Latin America and the Caribbean    52
Western Asia                       18
Southern Europe                    16
Northern Europe                    16
South-eastern Asia                 11
Eastern Europe                     10
Polynesia                          10
Western Europe                      9
Southern Asia                       9
Eastern Asia                        8
Micronesia                          8
Northern Africa                     7
Australia and New Zealand           6
Central Asia                        5
Melanesia                           5
Northern America                    5
Name: count, dtype: int64

country names will need to be updated across all dataframes for consistency

In [588]:
former_names

,current,former,start_date,end_date
0,Benin,Dahomey,1959-11-08,1975-11-30
1,Burkina Faso,Upper Volta,1960-04-14,1984-08-04
2,Curaçao,Netherlands Antilles,1957-03-03,2010-10-10
3,Czechoslovakia,Bohemia,1903-04-05,1919-01-01
4,Czechoslovakia,Bohemia and Moravia,1939-01-01,1945-05-01
5,Czechoslovakia,Representation of Czechs and Slovaks,1993-03-24,1993-11-17
6,DR Congo,Belgian Congo,1948-05-25,1956-01-02
7,DR Congo,Congo-Léopoldville,1963-04-12,1964-07-19
8,DR Congo,Congo-Kinshasa,1965-01-09,1970-11-24
9,DR Congo,Zaïre,1971-01-10,1997-04-27
10,Djibouti,French Somaliland,1947-12-05,1977-06-27
11,Egypt,United Arab Republic,1958-02-22,1971-09-11
12,Eswatini,Swaziland,1968-05-01,2018-04-19
13,Ghana,Gold Coast,1950-05-28,1957-03-06
14,Guinea-Bissau,Portuguese Guinea,1953-06-02,1973-09-24
15,Guyana,British Guiana,1905-07-21,1967-08-02
16,Indonesia,Dutch East Indies,1934-05-13,1951-03-04
17,Israel,Mandatory Palestine,1934-03-16,1940-04-27
18,Malawi,Nyasaland,1957-08-28,1964-07-04
19,Malaysia,Malaya,1948-06-20,1963-08-16
20,Myanmar,Burma,1952-03-14,1989-01-01
21,North Macedonia,Macedonia,1993-10-13,2018-11-19
22,Northern Ireland,Ireland,1882-02-18,1956-04-11
23,Republic of Ireland,Irish Free State,1924-05-28,1936-12-06
24,Republic of Ireland,Éire,1937-01-01,1953-03-25
25,Russia,Soviet Union,1924-11-16,1991-11-13
26,Russia,CIS,1992-01-25,1992-06-18
27,Samoa,Western Samoa,1979-08-31,1996-11-15
28,Sri Lanka,Ceylon,1952-03-24,1972-05-22
29,Suriname,Dutch Guyana,1921-01-28,1975-11-25
30,Tanzania,Tanganyika,1945-01-01,1964-04-26
31,Vanuatu,New Hebrides,1951-10-04,1980-07-30
32,Zambia,Northern Rhodesia,1947-02-22,1964-10-25
33,Zimbabwe,Southern Rhodesia,1946-06-16,1980-04-18

In [589]:
former_names = former_names.drop(['start_date', 'end_date'], axis=1)

In [590]:
former_names.head()
#I think for thsi analysis I will be doing for this project, the start and end dat of former country names won't he helpful or relevant. I think it would be really interesting to look at national performance based on socio-political activity (presumedly could be gleaned from changes in country names) but that is not where I intend to dedicate my depth of analysis. I will drop the start_date and end_date columns

          current                former
0           Benin               Dahomey
1    Burkina Faso           Upper Volta
2         Curaçao  Netherlands Antilles
3  Czechoslovakia               Bohemia
4  Czechoslovakia   Bohemia and Moravia

need to create a dictionary with the former and current names

In [591]:
names_dictionary = former_names.set_index(['former']).to_dict()['current']
names_dictionary

{'Dahomey': 'Benin',
 'Upper Volta': 'Burkina Faso',
 'Netherlands Antilles': 'Curaçao',
 'Bohemia': 'Czechoslovakia',
 'Bohemia and Moravia': 'Czechoslovakia',
 'Representation of Czechs and Slovaks': 'Czechoslovakia',
 'Belgian Congo': 'DR Congo',
 'Congo-Léopoldville': 'DR Congo',
 'Congo-Kinshasa': 'DR Congo',
 'Zaïre': 'DR Congo',
 'French Somaliland': 'Djibouti',
 'United Arab Republic': 'Egypt',
 'Swaziland': 'Eswatini',
 'Gold Coast': 'Ghana',
 'Portuguese Guinea': 'Guinea-Bissau',
 'British Guiana': 'Guyana',
 'Dutch East Indies': 'Indonesia',
 'Mandatory Palestine': 'Israel',
 'Nyasaland': 'Malawi',
 'Malaya': 'Malaysia',
 'Burma': 'Myanmar',
 'Macedonia': 'North Macedonia',
 'Ireland': 'Northern Ireland',
 'Irish Free State': 'Republic of Ireland',
 'Éire': 'Republic of Ireland',
 'Soviet Union': 'Russia',
 'CIS': 'Russia',
 'Western Samoa': 'Samoa',
 'Ceylon': 'Sri Lanka',
 'Dutch Guyana': 'Suriname',
 'Tanganyika': 'Tanzania',
 'New Hebrides': 'Vanuatu',
 'Northern Rhodesia': 'Zambia',
 'Southern Rhodesia': 'Zimbabwe'}

In [592]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

Since I generated a dictionary with the former and current country names, I can use .replace() in the country column very easily. I will need to do this with all dataframes that list the country/team

Then we can create a dictionary of country names and continents, and insert a column of continents into each dataframe

In [593]:
continents.head()

             name   region       sub-region
0     Afghanistan     Asia    Southern Asia
1   Åland Islands   Europe  Northern Europe
2         Albania   Europe  Southern Europe
3         Algeria   Africa  Northern Africa
4  American Samoa  Oceania        Polynesia

In [594]:
continents_dictionary = continents.set_index(['name']).to_dict()['region']
continents_dictionary

{'Afghanistan': 'Asia',
 'Åland Islands': 'Europe',
 'Albania': 'Europe',
 'Algeria': 'Africa',
 'American Samoa': 'Oceania',
 'Andorra': 'Europe',
 'Angola': 'Africa',
 'Anguilla': 'Americas',
 'Antarctica': nan,
 'Antigua and Barbuda': 'Americas',
 'Argentina': 'Americas',
 'Armenia': 'Asia',
 'Aruba': 'Americas',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Azerbaijan': 'Asia',
 'Bahamas': 'Americas',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Barbados': 'Americas',
 'Belarus': 'Europe',
 'Belgium': 'Europe',
 'Belize': 'Americas',
 'Benin': 'Africa',
 'Bermuda': 'Americas',
 'Bhutan': 'Asia',
 'Bolivia': 'Americas',
 'Bonaire, Sint Eustatius and Saba': 'Americas',
 'Bosnia And Herzegovina': 'Europe',
 'Botswana': 'Africa',
 'Bouvet Island': 'Americas',
 'Brazil': 'Americas',
 'British Indian Ocean Territory': 'Africa',
 'Brunei Darussalam': 'Asia',
 'Bulgaria': 'Europe',
 'Burkina Faso': 'Africa',
 'Burundi': 'Africa',
 'Cabo Verde': 'Africa',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'Americas',
 'Cayman Islands': 'Americas',
 'Central African Republic': 'Africa',
 'Chad': 'Africa',
 'Chile': 'Americas',
 'China': 'Asia',
 'Christmas Island': 'Oceania',
 'Cocos (Keeling) Islands': 'Oceania',
 'Colombia': 'Americas',
 'Comoros': 'Africa',
 'Congo': 'Africa',
 'Congo (Democratic Republic Of The)': 'Africa',
 'Cook Islands': 'Oceania',
 'Costa Rica': 'Americas',
 "Côte D'Ivoire": 'Africa',
 'Croatia': 'Europe',
 'Cuba': 'Americas',
 'Curaçao': 'Americas',
 'Cyprus': 'Asia',
 'Czech Republic': 'Europe',
 'Denmark': 'Europe',
 'Djibouti': 'Africa',
 'Dominica': 'Americas',
 'Dominican Republic': 'Americas',
 'Ecuador': 'Americas',
 'Egypt': 'Africa',
 'El Salvador': 'Americas',
 'Equatorial Guinea': 'Africa',
 'Eritrea': 'Africa',
 'Estonia': 'Europe',
 'Eswatini': 'Africa',
 'Ethiopia': 'Africa',
 'Falkland Islands (Malvinas)': 'Americas',
 'Faroe Islands': 'Europe',
 'Fiji': 'Oceania',
 'Finland': 'Europe',
 'France': 'Europe',
 'French Guiana': 'Americas',
 'French Polynesia': 'Oceania',
 'French Southern Territories': 'Africa',
 'Gabon': 'Africa',
 'Gambia': 'Africa',
 'Georgia': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Gibraltar': 'Europe',
 'Greece': 'Europe',
 'Greenland': 'Americas',
 'Grenada': 'Americas',
 'Guadeloupe': 'Americas',
 'Guam': 'Oceania',
 'Guatemala': 'Americas',
 'Guernsey': 'Europe',
 'Guinea': 'Africa',
 'Guinea Bissau': 'Africa',
 'Guyana': 'Americas',
 'Haiti': 'Americas',
 'Heard Island and McDonald Islands': 'Oceania',
 'Holy See': 'Europe',
 'Honduras': 'Americas',
 'Hong Kong': 'Asia',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Isle of Man': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 'Jamaica': 'Americas',
 'Japan': 'Asia',
 'Jersey': 'Europe',
 'Jordan': 'Asia',
 'Kazakhstan': 'Asia',
 'Kenya': 'Africa',
 'Kiribati': 'Oceania',
 'South Korea': 'Asia',
 'Korea, Republic of': 'Asia',
 'Kuwait': 'Asia',
 'Kyrgyzstan': 'Asia',
 'Laos': 'Asia',
 'Latvia': 'Europe',
 'Lebanon': 'Asia',
 'Lesotho': 'Africa',
 'Liberia': 'Africa',
 'Libya': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Macao': 'Asia',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Mali': 'Africa',
 'Malta': 'Europe',
 'Marshall Islands': 'Oceania',
 'Martinique': 'Americas',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mayotte': 'Africa',
 'Mexico': 'Americas',
 'Micronesia (Federated States of)': 'Oceania',
 'Moldova': 'Europe',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Montenegro': 'Europe',
 'Montserrat': 'Americas',
 'Morocco': 'Africa',
 'Mozambique': 'Africa',
 'Myanmar': 'Asia',
 'Namibia': 'Africa',
 'Nauru': 'Oceania',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'New Caledonia': 'Oceania',
 'New Zealand': 'Oceania',
 'Nicaragua': 'Americas',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Niue': 'Oceania',
 'Norfolk Island': 'Oceania',
 'Macedonia': 'Europe',
 'Northern Mariana Islands': 'Oceania',
 'Norway': 'Europe',
 'Oman': 'Asia',
 'Pakistan': 'Asia',
 'Palau': 'Oceania',
 'Palestine, State of': 'Asia',
 'Panama': 'Americas',
 'Papua New Guinea': 'Oceania',
 'Paraguay': 'Americas',
 'Peru': 'Americas',
 'Philippines': 'Asia',
 'Pitcairn': 'Oceania',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Puerto Rico': 'Americas',
 'Qatar': 'Asia',
 'Réunion': 'Africa',
 'Romania': 'Europe',
 'Russia': 'Europe',
 'Rwanda': 'Africa',
 'Saint Barthélemy': 'Americas',
 'Saint Helena, Ascension and Tristan da Cunha': 'Africa',
 'Saint Kitts and Nevis': 'Americas',
 'Saint Lucia': 'Americas',
 'Saint Martin (French part)': 'Americas',
 'Saint Pierre and Miquelon': 'Americas',
 'Saint Vincent and the Grenadines': 'Americas',
 'Samoa': 'Oceania',
 'San Marino': 'Europe',
 'Sao Tome and Principe': 'Africa',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Singapore': 'Asia',
 'Sint Maarten (Dutch part)': 'Americas',
 'Slovakia': 'Europe',
 'Slovenia': 'Europe',
 'Solomon Islands': 'Oceania',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'South Georgia and the South Sandwich Islands': 'Americas',
 'South Sudan': 'Africa',
 'Spain': 'Europe',
 'Sri Lanka': 'Asia',
 'Sudan': 'Africa',
 'Suriname': 'Americas',
 'Svalbard and Jan Mayen': 'Europe',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Syria': 'Asia',
 'Taiwan': 'Asia',
 'Tajikistan': 'Asia',
 'Tanzania': 'Africa',
 'Thailand': 'Asia',
 'Timor-Leste': 'Asia',
 'Togo': 'Africa',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Trinidad and Tobago': 'Americas',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'Turkmenistan': 'Asia',
 'Turks and Caicos Islands': 'Americas',
 'Tuvalu': 'Oceania',
 'Uganda': 'Africa',
 'Ukraine': 'Europe',
 'United Arab Emirates': 'Asia',
 'United Kingdom': 'Europe',
 'United States': 'Americas',
 'United States Minor Outlying Islands': 'Oceania',
 'Uruguay': 'Americas',
 'Uzbekistan': 'Asia',
 'Vanuatu': 'Oceania',
 'Venezuela': 'Americas',
 'Vietnam': 'Asia',
 'Virgin Islands (British)': 'Americas',
 'Virgin Islands (U.S.)': 'Americas',
 'Wallis and Futuna': 'Oceania',
 'Western Sahara': 'Africa',
 'Yemen': 'Asia',
 'Zambia': 'Africa',
 'Zimbabwe': 'Africa'}

In [595]:
results["country"] = results["country"].replace(names_dictionary)

In [596]:
results['continent'] = results['country'].map(continents_dictionary)
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,NaN
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,NaN
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,NaN
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,NaN
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,NaN
...,...,...,...,...,...,...,...,...,...,...
48845,2025-11-18,Saint Kitts and Nevis,Belize,2.0,6.0,CONCACAF Series,Basseterre,Saint Kitts and Nevis,False,Americas
48846,2025-11-18,Antigua and Barbuda,Guyana,1.0,4.0,CONCACAF Series,North Sound,Antigua and Barbuda,False,Americas
48847,2025-11-18,Iran,Uzbekistan,0.0,0.0,Al Ain International Cup,Al Ain,United Arab Emirates,True,Asia
48848,2025-11-19,Laos,Vietnam,0.0,2.0,AFC Asian Cup qualification,Vientiane,Laos,False,Asia
48849,2025-11-20,Vanuatu,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Port Moresby,Papua New Guinea,True,Oceania

in the continent dataframe/dictionary, Scotland, England, Wales, and Northern Ireland are all listed as United Kingdowm for their country. I am going to create a mini dictionary listing each of those in Europe, as their individual national identity is an important part of this analysis

In [597]:
united_kingdom = {'England': "Europe", 'Scotland': "Europe", 'Wales': "Europe", 'Northern Ireland': "Europe"}
united_kingdom

{'England': 'Europe',
 'Scotland': 'Europe',
 'Wales': 'Europe',
 'Northern Ireland': 'Europe'}

In [598]:
results["continent"] = results["continent"].fillna(results["country"].map(united_kingdom))
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe

In [599]:
goal_scorers.head()
goal_scorers["team"] = goal_scorers["team"].replace(names_dictionary)
goal_scorers['continent'] = goal_scorers['team'].map(continents_dictionary)
goal_scorers["continent"] = goal_scorers["continent"].fillna(goal_scorers["team"].map(united_kingdom))
goal_scorers.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty,continent
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,Americas
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,Americas
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,Americas
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,Americas
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,Americas

In [600]:
shootouts.head()
shootouts["away_team"] = shootouts["away_team"].replace(names_dictionary)
shootouts["winner"] = shootouts["winner"].replace(names_dictionary)
shootouts["winner_continent"] = shootouts['winner'].map(continents_dictionary)
shootouts["away_continent"] = shootouts['away_team'].map(continents_dictionary)
shootouts["winner_continent"] = shootouts["winner_continent"].fillna(shootouts["winner"].map(united_kingdom))
shootouts["away_continent"] = shootouts["away_continent"].fillna(shootouts["away_team"].map(united_kingdom))
shootouts.head()

,date,home_team,away_team,winner,first_shooter,winner_continent,away_continent
0,1967-08-22,India,Taiwan,Taiwan,NaN,Asia,Asia
1,1971-11-14,South Korea,Vietnam Republic,South Korea,NaN,Asia,NaN
2,1972-05-07,South Korea,Iraq,Iraq,NaN,Asia,Asia
3,1972-05-17,Thailand,South Korea,South Korea,NaN,Asia,Asia
4,1972-05-19,Thailand,Cambodia,Thailand,NaN,Asia,Asia

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [601]:
results.isnull().value_counts()

date   home_team  away_team  home_score  away_score  tournament  city   country  neutral  continent
False  False      False      False       False       False       False  False    False    False        46063
                                                                                          True          2786
                             True        True        False       False  False    False    False            1
Name: count, dtype: int64

In [602]:
results = results.drop([48849])
#I was able to see that index [48849] was the only row with null values, so I am going to manually drop it since it is the only null value

In [603]:
results.isnull().value_counts()

date   home_team  away_team  home_score  away_score  tournament  city   country  neutral  continent
False  False      False      False       False       False       False  False    False    False        46063
                                                                                          True          2786
Name: count, dtype: int64

Even with the data cleaning above with country name and continent reconciliation, there are still 2786 countries that fall outside of those parameters. This is 6% of the total data set. For consistency I will drop these rows.

In [604]:
results = results.dropna()
results.isnull().value_counts()

date   home_team  away_team  home_score  away_score  tournament  city   country  neutral  continent
False  False      False      False       False       False       False  False    False    False        46063
Name: count, dtype: int64

In [605]:
shootouts.isnull().value_counts()
#there are a considerable amount of rows where the first_shooter is null. I do not plan on including the first shooter in a shootout in my analysis, so I am going to drop that column,.

date   home_team  away_team  winner  first_shooter  winner_continent  away_continent
False  False      False      False   True           False             False             351
                                     False          False             False             214
                                     True           True              True               47
                                     False          True              True               12
                                     True           False             True               11
                                                    True              False              11
                                     False          False             True                6
                                                    True              False               5
Name: count, dtype: int64

In [606]:
shootouts.head()

,date,home_team,away_team,winner,first_shooter,winner_continent,away_continent
0,1967-08-22,India,Taiwan,Taiwan,NaN,Asia,Asia
1,1971-11-14,South Korea,Vietnam Republic,South Korea,NaN,Asia,NaN
2,1972-05-07,South Korea,Iraq,Iraq,NaN,Asia,Asia
3,1972-05-17,Thailand,South Korea,South Korea,NaN,Asia,Asia
4,1972-05-19,Thailand,Cambodia,Thailand,NaN,Asia,Asia

In [607]:
shootouts = shootouts.drop(columns=["first_shooter"])

In [608]:
goal_scorers.isnull().value_counts()
# the scorer itself is the main "point" of this particular dataset, so with a null value in that field there is not much I can do with that particular row. Since the number of rows with no scorer are negligible, I am goign to drop the rows where [scorer] is null.
# the [minute] column, which captures the minute of the goal score will not play a role in my analysis. However, there may be records where there is a goal scorer but no minute recorded. In this case I would still want to keep the rows with scorers. Dropping rows with null scorers is enough to remedy the missing data here

date   home_team  away_team  team   scorer  minute  own_goal  penalty  continent
False  False      False      False  False   False   False     False    False        41143
                                                                       True          3048
                                            True    False     False    False          179
                                    True    True    False     False    False           30
                                    False   True    False     False    True            29
                                    True    True    False     False    True            18
Name: count, dtype: int64

In [609]:
goal_scorers = goal_scorers.dropna(subset=['scorer'])

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [610]:
goal_scorers.head()
#I am actually going to go ahead and drop the minute column all together - this datapoint will not have a role in my analysis
#I also don't think I am going to consider own goal or penalty in my analysis. There are so many things I could analyze in this project, but I don't want to get too wide and compromise depth.

,date,home_team,away_team,team,scorer,minute,own_goal,penalty,continent
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False,Americas
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False,Americas
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False,Americas
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False,Americas
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False,Americas

In [611]:
goal_scorers = goal_scorers.drop(['minute', 'own_goal', 'penalty'], axis=1)

In [612]:
results.head()
#I am not sure what the neutral column is for, and I know it will not play a role in my analysis, so I am going to drop that column.

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe

In [613]:
results = results.drop(['neutral'], axis=1)

In [614]:
shootouts.head()

,date,home_team,away_team,winner,winner_continent,away_continent
0,1967-08-22,India,Taiwan,Taiwan,Asia,Asia
1,1971-11-14,South Korea,Vietnam Republic,South Korea,Asia,NaN
2,1972-05-07,South Korea,Iraq,Iraq,Asia,Asia
3,1972-05-17,Thailand,South Korea,South Korea,Asia,Asia
4,1972-05-19,Thailand,Cambodia,Thailand,Asia,Asia

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [626]:
goal_scorers.head()

         date  home_team away_team       team            scorer continent
0  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene  Americas
1  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín  Americas
2  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín  Americas
3  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene  Americas
4  1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco  Americas

In [624]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,Europe

In [625]:
shootouts.head()

,date,home_team,away_team,winner,winner_continent,away_continent
0,1967-08-22,India,Taiwan,Taiwan,Asia,Asia
1,1971-11-14,South Korea,Vietnam Republic,South Korea,Asia,NaN
2,1972-05-07,South Korea,Iraq,Iraq,Asia,Asia
3,1972-05-17,Thailand,South Korea,South Korea,Asia,Asia
4,1972-05-19,Thailand,Cambodia,Thailand,Asia,Asia

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
I was able to find all four types of dirty data in my dataset, some of which presented itself once I started reconciling irregular data or adding in supplemental data. I wanted to have the continent for each country listed across the dataframes, but that then presented inconsistent categorization across dataframes (Scotland, England, Wales, and Northern Ireland being listed as United Kingdom in one dataframe, and as individual countries in others)

Since the data spans so far back in the future, it is not entirely suprising that certain datapoints are missing, particularly such particular datapoints as the minute a goal was scored in a game. Thankfully this particular datapoint is not needed for my analysis. 

2. Did the process of cleaning your data give you new insights into your dataset?
Cleaning the data, and in particular eliminating unnecessary data, gave a clearer and more refined understanding of the data I have on my hands and what I can do with it. Will all the data up front it feels like there are endless possibilities, but cleaning and refining the data help hone in on the scope of what I'm trying to evaluate. 

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
There are so many connections across the 3 dataframes I'll be utilizing (formers_names and continents having been used soley for the data cleaning step) that I'll need to keep in mind and be clear the different names across the sheets for the same datapoint. To be determined if changing the column names to be the same across all sheets for the same datapoint would be beneficial or lend itself to more errors.

In [616]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,Europe
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,Europe
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,Europe

In [617]:
shootouts.head()

,date,home_team,away_team,winner,winner_continent,away_continent
0,1967-08-22,India,Taiwan,Taiwan,Asia,Asia
1,1971-11-14,South Korea,Vietnam Republic,South Korea,Asia,NaN
2,1972-05-07,South Korea,Iraq,Iraq,Asia,Asia
3,1972-05-17,Thailand,South Korea,South Korea,Asia,Asia
4,1972-05-19,Thailand,Cambodia,Thailand,Asia,Asia

In [618]:
goal_scorers.head()

         date  home_team away_team       team            scorer continent
0  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene  Americas
1  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín  Americas
2  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín  Americas
3  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene  Americas
4  1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco  Americas